# LLM provider
OPENAI_API_KEY=your_openai_api_key

# Vector database
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=your_qdrant_api_key

# Langfuse
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key
LANGFUSE_SECRET_KEY=your_langfuse_secret_key

#Ollama
OLLAMA_HOST=http://localhost:11434
LLM_MODEL=qwen2.5:3b

# Application
ENVIRONMENT=development
LOG_LEVEL=INFO